<html>
<head>
    <title>Авторизация</title>
</head>
<body bgcolor=silver text=black>
<h2>Авторизация</h2>

<br><br>
<form action='' method='Post'>
    <table>
        <tr>
            <td colspan="1">Логин:</td>
            <td colspan="1"><input type=text id=login name=login></td>
        </tr>
        <tr>
            <td colspan="1">Пароль:</td>
            <td colspan="1"><input type=password id=password name=password></td>
        </tr>
        <tr>
            <td colspan="1"><input type=submit name='send' value='auth'></td>
        </tr>
    </table>
</form>
<a href="/menu">Назад</a><br><br>

</body>
</html>